---
layout: default
---
{% include hexagons.html %}

{% include hero.html %}
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<!-- About -->
{% include about.html %}

<!-- Icons -->
<section class="icons">
  <div class="container">
    <div class="icon-row">

        <h1 class="text-center" style="font-family: 'Raleway', sans-serif;">Hackathons Provide Endless Possibilities</h1>
        <div class="icon-column">
          <img class="icon" src="images/Learning.png" alt="Bee with code snippet">
          <h2 class="icon">Learning</h2>
            <p>Attend Workshops</p>
            <p>Share knowledge</p>
            <p>Get help from mentors</p>
            <p>Learn from professionals</p>
            <p>Grow your skillset</p>
        </div>
        <div class="icon-column">
          <img class="icon" src="images/Exploring.png" alt="Bee with rocket ship">
          <h2 class="icon">Exploring</h2>
            <p>Discover new industries</p>
            <p>Meet students from other majors</p>
            <p>Roam the beautiful UMass campus</p>
            <p>Get acquainted with new technologies</p>
        </div>
        <div class="icon-column">
          <img class="icon" src="images/Creating.png" alt="Bee with lightbulb idea">
          <h2 class="icon">Creating</h2>
            <p>Build something new</p>
            <p>Solve real-world problems</p>
            <p>Create your own software</p>
            <p>Be proud of what you’ve accomplished</p>
        </div>

    </div>
  </div>

<!-- What Makes Us Different -->
{% include different.html %}

<!-- Hackathon Timeline -->
<section class="bee-gallery">

</div>
</section>

<!-- FAQ -->
<section class="faq">
  <div class="container">
    <h1 class="text-center faq-header" style="font-family: 'Raleway', sans-serif !important;">What to Expect</h1>
    <div class="col-md-12" style="text-align:center;">
         <iframe style="max-width:560px;min-height:315px;width:75%; height:100%;" src="https://www.youtube.com/embed/hiX8bBZ9_6M?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
    <div class="container">
      <div class="row faq-section">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h1 class="text-center" style="font-family: 'Raleway', sans-serif;">FAQ</h1>
        {% for item in site.event.faq %}
        <button class="accordion">
        {{ item.question }}
        </button>
         <div class="panel">
          <p>{{ item.answer | markdownify }}</p>
        </div>
        {% endfor %}
        <p>Have a question that wasn't answered here? Email us at <a href="mailto:hackher413@gmail.com">hackher413@gmail.com</a>!</p>
      </div>
    </div>
  </div>
</section>


<!-- Sponsors -->
<section class="sponsors">
  <div class="container-fluid">
    <h1 class="text-center style="font-family: 'Raleway', sans-serif;"">Our Sponsors</h1>
    <div class="row">
      <div class="col py-3">
              <a target="_blank" href="https://www.cics.umass.edu/"><img class="s-logo" src="images/logos/CICS-medium.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="UMASS CICS"></a>
            </div>
            <div class="col py-3">
              <a target="_blank" href="https://www.accenture.com/us-en/careers/students-graduates"><img class="s-logo" src="images/logos/Acc_Logo_Black_Purple_RGB.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Accenture"></a>
            </div>
            <div class="col py-3">
              <a target="_blank" href="https://ds.cs.umass.edu/"><img class="s-logo" src="images/logos/blue_cds_w_cics.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Center for Data Science"></a>
            </div>
          </div>
          <div class="row">
            <div class="col py-3">
                    <a target="_blank" href="https://www.travelers.com/"><img class="s-logo" src="images/logos/Travelers-Logo-2.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Travelers"></a>
                  </div>
                  <div class="col py-3">
                    <a target="_blank" href="https://www.bose.com/en_us/index.html"><img class="s-logo" src="images/logos/Bose-Logo.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Bose"></a>
                  </div>
                  <div class="col py-3">
                    <a target="_blank" href="https://www.isenberg.umass.edu/centers/berthiaume-center-for-entrepreneurship"><img class="s-logo" src="images/logos/Berthiaume.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Berthiaume Center for Entrepreneurship"></a>
                  </div>
                </div>
        <div class="row">
            <div class="col py-3">
              <a target="_blank" href="https://www.massmutual.com/"><img class="s-logo" src="images/logos/MassMutual_logo_blue.png" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="MassMutual"></a>
            </div>
            <div class="col py-3">
              <a target="_blank" href="https://balsamiq.com/"><img class="s-logo" src="images/logos/balsamiq.svg" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Balsamiq"></a>
            </div>
            <div class="col py-3">
              <a target="_blank" href="https://www.facebook.com"><img class="s-logo" src="images/logos/facebook-logo-psd.jpg" style=" width:15%; min-width:300px; white-space: nowrap; padding: 10px;" alt="Facebook"></a>
            </div>
          </div>

    {{site.event.sponsors.description | markdownify}}
  </div>
</section>

<!-- Partners -->
<section class="partners">
  <div class="container-fluid">
    <h1 class="text-center">Our Partners</h1>
    <div class="row">
      <div class="col py-3">
        <a target="_blank" href="https://www.stickermule.com/supports/hackathons"><img class="p-logo" src="images/logos/sticker-mule-logo-light.png" style=" width:8%; min-width:100px; white-space: nowrap;" alt="Sticker Mule"></a>
      </div>
      <div class="col py-3">
        <a target="_blank" href="https://radix.website/dot-tech"><img class="p-logo" src="images/logos/radix.png" style=" width:8%; min-width:100px; white-space: nowrap;" alt=".Tech Domains"></a>
      </div>
      <div class="col py-3">
        <a target="_blank" href="https://www.jetbrains.com/"><img class="p-logo" src="images/logos/jet.png" style=" width:8%; min-width:100px; white-space: nowrap;" alt="JetBrains"></a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
        <a target="_blank" href="https://www.twilio.com/"><img class="p-logo" src="images/logos/twilio-logo-red.png" style=" width:8%; min-width:100px; white-space: nowrap;" alt="Twilio"></a>
      </div>
      <div class="col py-3">
        <a target="_blank" href="https://ti.to/home"><img class="p-logo" src="images/logos/tito.png" style=" width:8%; min-width:100px; white-space: nowrap;" alt="Tito"></a>
      </div>
      <div class="col py-3">
        <a target="_blank" href="https://www.wolfram.com/?source=nav"><img class="p-logo" src="images/logos/Hackathon_Logo_Wolfram_2018_Vector.png" style=" width:8%; min-width:100px; white-space: nowrap;" alt="Wolfram Research, Inc."></a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
        <a target="_blank" href="https://girlswhocode.com/?nabe=6169758503534592:3&utm_referrer=https%3A%2F%2Fwww.google.com%2F"><img class="p-logo" src="images/logos/GWC-logo.jpg" style=" width:8%; min-width:100px; white-space: nowrap;" alt="Girls Who Code"></a>
      </div>
      <div class="col py-3">
        <a target="_blank" href="https://www.figma.com/"><img class="p-logo" src="images/logos/figma-card.png" style=" width:8%; min-width:100px; white-space: nowrap;" alt="Figma"></a>
      </div>
    </div>
</section>


<!-- Meet the Team -->
<section class="team">
    <div class="container">
    <div class="team-row">
  <div class="ps">
    <h1 class="text-center style="font-family: 'Raleway', sans-serif;"">Meet the Team</h1>
    <div class="team-row">
      <div class="column">
          <img class="bitmoji" src="images/katiebitmoji.png" alt="Katie House, HackHer413 Director">
            <h2 class="name">Katie House</h2>
            <p class="position">HackHer413 Director</p>
            <a href="https://www.linkedin.com/in/katiehouse3/"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
      <div class="column">
          <img class="bitmoji" src="images/shreya-bitmoji.png" alt="Shreya Sharma, HackHer413 Assistant Director">
            <h2 class="name">Shreya Sharma</h2>
            <p class="position">HackHer413 Assistant Director</p>
            <a href="https://www.linkedin.com/in/shreya-sharma-86b769a5/"><i class="fab fa-linkedin fa-2x" ></i></a>
      </div>
      <div class="column">
          <img class="bitmoji" src="images/sarahbitmoji.png" alt="Sarah Manlove, Head of Technology and Operations">
            <h2 class="name">Sarah Manlove</h2>
            <p class="position">Head of Technology &amp; Operations</p>
            <a href="https://www.linkedin.com/in/sarahmanlove/"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
    </div>
    <div class="team-row">
      <div class="column">
          <img class="bitmoji" src="images/disha-bitmoji.png" alt="Disha Srivastava, Head of Sponsorship">
            <h2 class="name">Disha Srivastava</h2>
            <p class="position">Head of Sponsorship</p>
            <a href="https://www.linkedin.com/in/dishsrivastava/"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
      <div class="column">
          <img class="bitmoji" src="images/risa-bitmoji.png" alt="Risa Kim, Head of Finance">
            <h2 class="name">Risa Kim</h2>
            <p class="position">Head of Finance</p>
            <a href="https://www.linkedin.com/in/risakim/"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
      <div class="column">
          <img class="bitmoji" src="images/alicia-bitmoji.png" alt="Alicia Bochnak, Head of Marketing">
            <h2 class="name">Alicia Bochnak</h2>
            <p class="position">Head of Marketing</p>
            <a href="https://www.linkedin.com/in/alicia-bochnak/"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
    </div>
      <div class="team-row">
      <div class="column">
          <img class="bitmoji" src="images/shreyasaw-bitmoji.png" alt="Shreya Sawant, Head of Internal Outreach">
            <h2 class="name">Shreya Sawant</h2>
            <p class="position">Head of Internal Outreach</p>
            <a href="https://www.linkedin.com/in/shreya-sawant-42aa57155/"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
      <div class="column">
          <img class="bitmoji" src="images/reetika-bitmoji.png" alt="Reetika Roy, Co-Head of External Outreach">
            <h2 class="name">Reetika Roy</h2>
            <p class="position">Co-Head of External Outreach</p>
            <a href="https://www.linkedin.com/in/reetika-roy-66000594/"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
      <div class="column">
          <img class="bitmoji" src="images/victoria-bitmoji.png" alt="Victoria Okoro, Co-Head of External Outreach">
            <h2 class="name">Victoria Okoro</h2>
            <p class="position">Co-Head of External Outreach</p>
            <a href="https://www.linkedin.com/in/victoria-okoro-a50089168/"><i class="fab fa-linkedin fa-2x"></i></a>
    </div>
  </div>
</div>
</div>
</section>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

<!-- <section class="faq">
  <div class="container">
    <h1 class="text-center">FAQ</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% for item in site.event.faq %}
        <div class="question col-xs-12 col-sm-12">
          <h2>{{ item.question }}</h2>
          <hr>
          {{ item.answer | markdownify }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section> -->
