<section class="about">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="hex-row even">
          <div class="hex">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
        </div>
        <div class="hex-row">
          <div class="hex">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
            <div class="hex">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          <div class="hex">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          <div class="hex">
        </div>
        <div class="hex-row even">
          <div class="hex">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          <div class="hex">
            <div class="top1"></div>
            <div class="middle1"></div>
            <div class="bottom1"></div>
          </div>
           <div class="hex">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
           <div class="hex">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          <div class="hex">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
           <div class="hex">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
        </div>
        <div class="hex-row">
          <div class="hex">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
           <div class="hex">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          <div class="hex">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          </div>
        </div>
        <div class="hex-row even">
          <div class="hex">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          <div class="hex">
            <div class="top3"></div>
            <div class="middle3"></div>
            <div class="bottom3"></div>
          </div>
          <div class="hex">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
        </div>
        <div class="hex-row">
          <div class="hex">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          <div class="hex">
            <div class="top2"></div>
            <div class="middle2"></div>
            <div class="bottom2"></div>
          </div>
            <div class="hex">
            <div class="top2"></div>
            <div class="middle2"></div>
            <div class="bottom2"></div>
          </div>
            <div class="hex">
            <div class="top2"></div>
            <div class="middle2"></div>
            <div class="bottom2"></div>
          </div>
        </div>
        <div class="hex-row even">
          <div class="hex">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          <div class="hex">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
          <div class="hex">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
        </div>
        <div class="hex-row">
          <div class="hex">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
        </div>
      </div>
        <div class="about-section">
          <div class = aos-init aos-animate data-aos="fade-in">
            <div class = "about-section-child">
              <h1 class="text-center">Our Mission</h1>
              {{site.event.about.description | markdownify }}
            </div>
        </div>
      </div>
    </div>
  </div>
</section>


