<section class="hero" >
  <!-- <svg width="110%" height="60%" id="Viz"></svg> -->
  <div class="wrapper text-center">
    <div class="honey-comb"></div>
    <div class="logo"></div>
    <h2 rel="description">{{ site.event.description }}</h2>
    <h3 rel="location">{{ site.event.date }} &mdash; {{ site.event.location }}</h3>
    <section id="lab_social_icon_header">
    <div class="icon-container">
            <div class="text-center center-block">
                    <a href="https://www.facebook.com"><i id="social-fb" class="fab fa-facebook-square fa-3x social"></i></a>
    	            <a href="https://twitter.com"><i id="social-tw" class="fab fa-twitter fa-3x social"></i></a>
    	            <a href="https://instagram.com"><i id="social-in" class="fab fa-instagram fa-3x social"></i></a>
              <a href="mailto:hackher413@gmail.com"><i id="social-em" class="fas fa-envelope fa-3x social"></i></a>
        </div>
    </div>
    </section>
    <a class="bubbly-button" onclick="window.location.href='mailto:hackher413@gmail.com'">Sponsor!</a>
      {% for link in site.event.bubbly-button.links %}
        <!-- {% if link.href %} -->
          <a href="{{ link.href }}">{{ link.text }}</a>
        <!-- {% elsif link.my_mlh %}
          <a class="apply" href="https://my.mlh.io/oauth/authorize?client_id={{ link.my_mlh.client_id }}&amp;redirect_uri={{ link.my_mlh.redirect_uri }}&amp;response_type=token">{{ link.text }}</a>
        {% endif %} -->
      {% endfor %}
    </div>
  </div>
</section>
