<!DOCTYPE html>
<html>
  {% include head.html %}

  <body{% if page.custom_class %} class="{{ page.custom_class }}"{% endif %}>
    {% include trust_badge.html %}

    {{ content }}

    <section class="footer">
      <div class="container text-center">
        <h1>{{ site.event.name }}</h1>
        <h3>Made with <span style="color: #e25555;">&hearts;</span> by the HackHer413 team </a></h3>
      </div>
    </section>

    <script src="https://d3js.org/d3.v4.0.0-rc.2.min.js"></script>
    <script src="https://d3js.org/d3-color.v0.5.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v0.9.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v0.3.min.js"></script>
    <script src="https://d3js.org/d3-random.v1.min.js"></script>

    <script src="{{ '/js/jquery-1.11.3.js' | prepend: site.baseurl | prepend: site.url }}"></script>
    <script src="{{ '/js/main-page-animation.js' | prepend: site.baseurl | prepend: site.url }}"></script>

    {% include analytics/google_analytics.html ga_id=site.tracking.google_analytics %}
  </body>
</html>
