<!DOCTYPE html>
<html>
  {% include head.html %}

  <body{% if page.custom_class %} class="{{ page.custom_class }}"{% endif %}>
    {% include trust_badge.html %}

    {{ content }}

    <section class="footer rainbow-slow">
      <div class="container text-center">
        <h1>{{ site.event.name }}</h1>
        <h3 class="text-center">Made with <span style="color: #CA7C83;">&hearts;</span> by the HackHer413 team </a></h3>
        <div class="icon">
          <a href="https://www.facebook.com"><i id="social-fb" class="fab fa-facebook-square fa-2x social"></i></a>
	        <a href="https://twitter.com"><i id="social-tw" class="fab fa-twitter fa-2x social"></i></a>
	        <a href="https://instagram.com"><i id="social-in" class="fab fa-instagram fa-2x social"></i></a>
          <a href="mailto:hackher413@gmail.com"><i id="social-em" class="fas fa-envelope fa-2x social"></i></a>
        </div>
      </div>
    </section>

    <script src="https://d3js.org/d3.v4.0.0-rc.2.min.js"></script>
    <script src="https://d3js.org/d3-color.v0.5.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v0.9.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v0.3.min.js"></script>
    <script src="https://d3js.org/d3-random.v1.min.js"></script>


    <script src="{{ '/js/jquery-1.11.3.js' | prepend: site.baseurl | prepend: site.url }}"></script>
    <!-- <script src="{{ '/js/main-page-animation.js' | prepend: site.baseurl | prepend: site.url }}"></script> -->
    <script src="{{ '/js/accordion.js' | prepend: site.baseurl | prepend: site.url }}"></script>
    
  </body>
</html>
